@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=VT323&display=swap');

#canvas {
    border:none;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}

body {
    z-index: 1;
}

.home {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    background-color: black;
    color: whitesmoke;
    font-size: 48px;
    animation: fadeinhome 1s ease-in forwards;
    position: relative;
}

.sub {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    flex-wrap: wrap;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    background-color: whitesmoke;
    color: black;
    font-size: 48px;
    animation: fadeinsub 1s ease-in forwards;
    position: relative;
}

a {
    background-color: inherit;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    font-size: 48px;
    transition-duration: 1s;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    background-color: white;
    color: black
}


.links {
    background-color: inherit;
    border: none;
    text-decoration: none;
    color: black;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    font-size: 48px;
    transition-duration: 1s;
    padding-left: 10px;
    padding-right: 10px;
}

.links:hover {
    background-color: black;
    color: whitesmoke   
}

.text {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}

@keyframes fadeinhome{
    0%{
      opacity:0;
      background-color: whitesmoke;
    }
    100%{
      opacity:1;
      background-color: black;
    }
}

@keyframes fadeinsub{
    0%{
      opacity:0;
      background-color: black;
    }
    100%{
      opacity:1;
      background-color: whitesmoke;
    }
}

button {
    background-color: inherit;
    border: none;
    color: whitesmoke;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    font-size: 48px;
    transition-duration: 1s;
}

button:hover {
    background-color: white;
    color: black
}

ul
{
list-style-type: none;
}

.inter-text {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}

.vt323-regular {
    font-family: "VT323", serif;
    font-size: x-large;
    font-weight: 200;
    font-style: normal;
    position:absolute;
    text-align: center;
  }