@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=VT323&display=swap');

#canvas {
    border: none;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
}

/*global styling*/

html {
    overflow: hidden;
}

body {
    z-index: 1;
}

p {
    position: relative;
    margin: 0;
    left: 0.5em;
    right: 0.5em;
}

a {
    background-color: inherit;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    font-size: 3rem;
    position: relative;
    left: 0.5em;
    right: 0.5em;
}


a::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0%;
    background: whitesmoke;
    transition: width 0.2s;
}

a:hover::after {
    width: 100%;
    transition-duration: 0.5s;
}

a.alt {
    background-color: inherit;
    border: none;
    text-decoration: none;
    color: black;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    font-size: 3rem;
    left: 0.5em;
    right: 0.5em;
}

a.alt::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0%;
    background: black;
    transition: width 0.2s;
}
a.alt:hover::after {
    width: 100%;
    transition-duration: 0.5s;
}

a.logo {
    position: fixed;
    width: 100px;
    height: 50px;
    top: 0.5em;
    left: 0.5em;
    z-index: 2;
}

a.logo::after {
    width: 0%;
}


button {
    background-color: inherit;
    border: none;
    color: whitesmoke;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    font-size: 48px;
    transition-duration: 1s;
}

button:hover {
    background-color: white;
    color: black
}

li {
list-style-type: none;
}

/*page specifics*/

.home {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    font-family: serif;
    color: whitesmoke;
    font-size: 48px;
    animation: fadeinhome 0.75s ease-in forwards;
    /*for canvas to function properly*/
    position: relative;
}

.sub {
    min-height: 100vh;
    max-width: 100vw;
    flex-wrap: wrap;
    display:flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    font-family: serif;
    color: black;
    font-size: 48px;
    animation: fadeinsub 0.75s ease-in forwards;
    /*for canvas to function properly*/
    position: relative;
}

.i-anim {
    animation: fadeinfo 0.75s ease-in forwards;
}

.c-anim {
    animation: fadecontact 0.75s ease-in forwards;
}

.m-anim {
    animation: fademusic 0.75s ease-in forwards;
}

.alert {
    background-color: #ff7500;
    display: block;
    top: 80%;
    left:0;
    margin: 0;
    border: none;
    color: black;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
    font-size: 48px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
}

/*fonts*/

.inter {
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 100;
    text-align: left;
}

.vt323 {
    font-family: "VT323", serif;
    font-size: x-large;
    font-weight: 200;
    font-style: normal;
    position:absolute;
    text-align: center;
}

/*
keyframe referencing
palette
#000000: sub text or main bg
#f5f5f5: mainntext or sub bg
#f57500: safety orange - secondary
#aad922: yellow green - secondary
#92140c: penn red - tertiary
*/

@keyframes fadeinhome{
    0%{
      opacity:0;
      background-color: whitesmoke;
    }
    100%{
      opacity:1;
      background-color: #000;
    }
}

@keyframes fadeinfo{
    0%{
      opacity:0;
      background-color: black;
    }
    100%{
      opacity:1;
      background-color: whitesmoke;
    }
}

@keyframes fadecontact{
    0%{
      opacity:0;
      background-color: black;
    }
    100%{
      opacity:1;
      background-color: #aad922;
    }
}

@keyframes fademusic{
    0%{
      opacity:0;
      background-color: black;
    }
    100%{
      opacity:1;
      background-color: #ff810a;
    }
}

/*media queries*/

@media (orientation: portrait) {

    html {
        overflow-y: visible;
    }

    .sub {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .home {
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    a {
        font-size: 4rem;
        left: 0;
    }

    a.logo {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 300px;
        height: 150px;
        top: 2em;
        left: 0.5em;
        z-index: 2;
    }

    p {
        font-size: 4rem;
        padding-top: 1.5em;
        margin: auto;
    }

    a.alt {
        font-size: 4rem;
        left: 0;
    }

    #canvas {
        width: 0;
        height: 0;
    }

}
